/* 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center ;
  font-size:"22px";
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
} */


/* Mobile */
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}


.d10059eb {
  display: block;
  margin: 0;
  padding: 10px 0;
  list-style: none;
}
.d10059eb li {
  display: flex;
  height: 56px;
  justify-content: center;
}
.d10059eb li a {
  display: flex;
  border-radius: 4px;
  color:  black;
  font-size: 20px;
  text-decoration: none;
  line-height: 30px;
  padding: 12px 15px;
  width: 100%;
  text-transform:uppercase;
  font-weight:  600;
  align-items: center;
  
}